<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C+R Users</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <main>
        <h1>All the Users</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
            {% for ix in all_users %}
            <tr>
                <td>{{ix.id}}</td>
                <td> {{ix.first_name}} {{ix.last_name}} </td>
                <td>{{ix.email_address}}</td>
                <td>{{ix.age}}</td>
            </tr>
            {% endfor %}


        </table>

    </main>
</body>

</html>